{% extends "layout.html" %}
	  {% block body %} 
        <div class="container jumbotron">
			<form method = "post" action =''>
			<input type ='hidden' Name = 'ID' id = 'ID' value = "{{appNameInfo.id}}"/>
			<div class="form-group form-inline">
				<label for="TestCaseID" class="col-sm-2"> App Name: </label>
				<input type ='text' Name= 'Name' id = 'Name' value = "{{appNameInfo.name}}" required class="form-control col-sm-4"/>
			</div>
			<div class="form-group cols-sm-6">
					<label class="col-sm-2"></label>
					<input type="submit" class="btn btn-primary" value="Update">
					&nbsp;&nbsp;
					<input type="reset" class="btn btn-primary" value="Reset">
				</div>
			</form>
		</div>
 {% endblock %}