{% extends "layout.html" %}
	  {% block body %} 
        <div class="container">
		<br/>
		
			<div class="table-wrapper">
				<h4>App Name : {{appName}}</h4>
				<form action="{{url_for('settings.editAppName')}}"">
					<input type="submit" class="btn btn-primary" value="Configure App Name">
				</form>
				
			</div>
			<div class="table-wrapper">
				<form action="{{url_for('settings.flushtestdata')}}" onSubmit="return confirm('Are you sure you want ot flush the Test Data ?');">
					<input type="submit" class="btn btn-primary" value="Flush Test Data">
				</form>
			</div>
		</div>
 {% endblock %}