{% extends "layout.html" %}
	  {% block body %} 
        <div class="container jumbotron">
			<form method = "post" action ='' id = 'validatedForm' >
				<div class="form-group task-details">
						<label>Name: <span></span></label>
						<input type ='text' Name= 'Name' id = 'Name' class="form-control" value = "{{userdata.name}}" required />
					</div>
					<div class="form-group task-details">
						<label>Email Address: <span></span></label>
						<input type ='email' Name= 'Email' id = 'Email' class="form-control" value = "{{userdata.username}}" required />
					</div>
					<div class="form-group task-details">
						<label>Password: <span></span></label>
						<input type ='password' Name= 'Password' id = 'Password' class="form-control" value = "{{userdata.password}}" required />
					</div>
					<div class="form-group task-details">
						<label>Confirm Password: <span></span></label>
						<input type ='password' Name= 'confirm_password' id = 'confirm_password' class="form-control" value = "{{userdata.password}}" data-rule-equalTo="#Password" required />
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-primary" value="Create" onClick="return validatePassword();">
						&nbsp;&nbsp;
						<input type="reset" class="btn btn-primary" value="Reset">
					</div>				
		</div>
	<script>
	
	var password = document.getElementById("Password")
  , confirm_password = document.getElementById("confirm_password");

	function validatePassword(){
	  if(password.value != confirm_password.value) {
		confirm_password.setCustomValidity("Passwords Don't Match");
	  } else {
		confirm_password.setCustomValidity('');
	  }
	}

	password.onchange = validatePassword;
	confirm_password.onkeyup = validatePassword;
	</script>
 {% endblock %}