{% extends "layout.html" %}
	  {% block body %} 
        <div class="container">
		<br/>
		<span style="float:right;"><a href="{{url_for('users.add')}}">Add New</a></span>
			<div class="table-wrapper">
				<table class="table table-striped" id="UsersDataGrid">
					<thead>
					<tr>
						<th>Name</th>
						<th>Email</th>
						<th>Options</th>
					</tr>
					</thead>
					<tbody>
					{% for user in users: %}
							<tr><td width="40%">{{user.name}}</td>
							<td width="40%">{{user.username}}</td>
							
							<td><a href="{{url_for('users.edit', ID=user.id)}}">edit</a>&nbsp; | &nbsp;
							<a href="{{url_for('users.delete', ID=user.id)}}" onclick="return confirm('Are you sure ?');">Delete</a>
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		<script type="text/javascript">
		$(document).ready(function() {
			if($('#UsersDataGrid')) {
				$('#UsersDataGrid').DataTable( {
						dom: 'Bfrtip',
						columns: [{ orderable: true, searchable: true}
									,{ orderable: true, searchable: true }
									, { orderable: false, searchable: false }
									],
						pageLength : 10,
						//searching: false,
						//searchCols : [{search: ""}, null],
						//ordering: false,
						//order:[1],
						buttons: [
								 ]
				});
			}
		} );

		</script>
 {% endblock %}
 