	  {% extends "layout.html" %}
	  {% block body %}
      <div class="jumbotron">
        <h3 align="center">Login</h3>
        <form class="form-signin" method="post">
          <label for="inputEmail" class="sr-only">Email address</label>
          <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus/>
          </br>
          <label for="inputPassword" class="sr-only">Password</label>
          <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required/>         
          <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        </form>
      </div>
	  {% endblock %}
