{% extends "layout.html" %}
	  {% block body %} 
        <div class="container jumbotron">
			<form method = "post" action =''>
				<div class="form-group task-details">
						<label>Data Name: <span></span></label>
						<input type ='text' Name= 'Name' id = 'Name' class="form-control" value = "{{testdata.name}}" required />
					</div>
					<div class="form-group task-details">
						<label>Data Value: <span></span></label>
						<input type ='text' Name= 'Value' id = 'Value' class="form-control" value = "{{testdata.Value}}" required />
					</div>
					<div class="form-group task-details">
						<label>Index: <span></span></label>
						<select name = 'ParamIndex' id = 'ParamIndex' class="form-control selectpicker" data-live-search="true" required>
						{% for i in range(1, 20) %}
							<option value ="{{ i }}" > {{ i }}</option>
						{% endfor %}
						</select>
					</div>
					<div class="form-group task-details">
						<label>Comments: <span></span></label>
						<textarea name= 'Comments' id='Comments' class="form-control">{{testdata.Comments}}</textarea>
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-primary" value="Create">
						&nbsp;&nbsp;
						<input type="reset" class="btn btn-primary" value="Reset">
					</div>				
		</div>
 {% endblock %}