{% extends "layout.html" %}
	  {% block body %} 
        <div class="container">
		<br/>
			<div class="table-wrapper">
				<div class="text-right">
						<a href="{{url_for('testdata.add')}}" class="btn btn-info btn-rounded btn-lg">Add<i class="fas fa-plus-square ml-1"></i></a>
				</div>	
				<table class="table table-striped" id="TestDataDataGrid">
					<thead>
					<tr>
						<th>Name</th>
						<th>Value</th>
						<th>Index</th>
						<th>Comments</th>
						<th>Options</th>
					</tr>
					</thead>
					<tbody>
					{% for data in testData: %}
							<tr><td width="20%">{{data.name}}</td>
							<td width="30%">{{data.Value}}</td>
							<td width="3%">{{data.ParamIndex}}</td>
							<td width="30%">{{data.Comments}}</td>
							<td><a href="{{url_for('testdata.edit', ID=data.id)}}"><span class="glyphicon glyphicon-pencil"></span></a>&nbsp; | &nbsp;
							<a href="{{url_for('testdata.delete', ID=data.id)}}" onclick="return confirm('Are you sure ?');"><span class="glyphicon glyphicon-trash"></span></a>
							</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		<script type="text/javascript">
		$(document).ready(function() {
			if($('#TestDataDataGrid')) {
				$('#TestDataDataGrid').DataTable({
					pageLength: 25,
					columnDefs: [{
					orderable: false,
					targets: 3
					},{
					orderable: false,
					targets: 4
					}]
				});
			}
		} );

		</script>
 {% endblock %}
 