{% extends "layout.html" %}
	  {% block body %}
	  <div class="container jumbotron">
			<form method = "post" action =''>
				<input type ='hidden' Name = 'ID' id = 'ID' value = "{{module.id}}"/>
				<div class="form-group task-details">
					<label>Title: <span></span></label>
					<input type ='text' Name= 'title' id = 'title' class="form-control" value = "{{module.title}}" required />
				</div>
				<div class="form-group task-details">
					<label>Test Rail Case No: <span></span></label>
					<input type ='text' Name= 'testrailcaseno' id = 'testrailcaseno' class="form-control" value = "{{module.testrailcaseno}}" required />
                </div>
                <div class="form-group task-details">
                    <label>Module:</label>
                    <select name="moduleid" id="moduleid" class="form-control selectpicker" data-live-search="true" required>
                        <option value="">Select</option>
                        {% for record in modules: %}
                         <option value="{{record.id}}" {{'selected' if record.id == module.moduleid else '' }}>{{record.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group task-details">
                    <label>Priority: <span></span></label>&nbsp;
                    <select name="priorityid" id="priorityid" class="form-control selectpicker" data-live-search="true" required>
                        <option value="">Select</option>
                        {% for record in priorites: %}
                         <option value="{{record.id}}" {{'selected' if record.id == module.priorityid else '' }}>{{record.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group task-details">
                    <label>Owner: <span></span></label>&nbsp;
                    <select name="assigneduserid" id="assigneduserid" class="form-control selectpicker" data-live-search="true" required>
                        <option value="">Select</option>
                        {% for record in users: %}
                         <option value="{{record.id}}" {{'selected' if record.id == module.assigneduserid else '' }}>{{record.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group task-details">
                    <label>Status: <span></span></label>&nbsp;
                    <select name="statusid" id="statusid" class="form-control selectpicker" data-live-search="true" required>
                        <option value="">Select</option>
                        {% for record in status: %}
                         <option value="{{record.id}}" {{'selected' if record.id == module.status else '' }}>{{record.name}}</option>
                        {% endfor %}
                    </select>
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-primary" value="{{'UPDATE' if updatepage else 'CREATE'}}">
					&nbsp;&nbsp;
					<input type="reset" class="btn btn-primary" value="Reset">
				</div>				
			</form>			
	  </div>
 {% endblock %}