{% extends "layout.html" %}
	  {% block body %} 
        <div class="container">
        <div class="table-wrapper">
                <div class="text-right">
						<a href="{{url_for('testcasemaster.add')}}" class="btn btn-info btn-rounded btn-lg">Add<i class="fas fa-plus-square ml-1"></i></a>
				</div>
				<table class="table table-striped" id="tcmMasterTablesDataGrid">
					<thead>
						<tr>
							<th width="32%">Title</th>
                            <th width="3%">TestRailCaseNo</th>
                            <th width="20%">Module</th>
                            <th>Priority</th>
                            <th>Owner</th>
                            <th>Status</th>
                            <th>Options</th>
						</tr>
					</thead>
					<tbody>					
					{% for item in itemsList: %}
							<tr>
								<td>{{item['Title']}}</td>
                                <td>{{item['TestRailCaseNo']}}</td>
                                <td>{{item['moduleName']}}</td>
                                <td>{{item['priorityName']}}</td>
                                <td>{{item['userName']}}</td>
                                <td>{{item['testCaseStatus']}}</td>
								<td><a href="{{url_for('testcasemaster.edit', ID=item['ID'])}}"><span class="glyphicon glyphicon-pencil"></span></a>&nbsp; | &nbsp;
									<a href="{{url_for('testcasemaster.delete', ID=item['ID'])}}" onclick="return confirm('Are you sure ?');"><span class="glyphicon glyphicon-trash"></span></a>
								</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
        </div>
        <script type="text/javascript">
            $(document).ready(function() {
                if($('#tcmMasterTablesDataGrid').length) {
                    $('#tcmMasterTablesDataGrid').DataTable({
                        pageLength: 25,
                        columnDefs: [{
                        orderable: false,
                        targets: 6
                        }]
                    });
                }
            } );
        </script>    
 {% endblock %}