{% extends "layout.html" %}
	  {% block body %}
	  <div class="container jumbotron">
			<form method = "post" action =''>
				<div class="form-group task-details form-inline">
					<label for="Type" class="col-sm-2"> Object type: </label>
					<select name="Type" id="Type" class="form-control col-sm-6 selectpicker" data-live-search="true" required>
						<option value = "">Select</option>
						{% for type in objecttypes: %}
						 <option value="{{type.id}}" {{'selected' if type.id == module.Type else '' }}>{{type.name}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="form-group task-details form-inline">
					<label for="Name" class="col-sm-2">Name: <span></span></label>
					<input type ='text' Name= 'Name' id = 'Name' class="form-control col-sm-6" value = "{{module.name}}" required />
				</div>
				<div class="form-group task-details form-inline">
					<label for="Locator" class="col-sm-2">Locator: <span></span></label>
					<input type ='text' Name= 'Locator' id = 'Locator' class="form-control col-sm-6" value = "{{module.locator}}" required />
				</div>
				<div class="form-group col-sm-6">
					<label class="col-sm-4"></label>
					<input type="submit" class="btn btn-primary" value="Create">
					&nbsp;&nbsp;
					<input type="reset" class="btn btn-primary" value="Reset">
				</div>				
			</form>			
	  </div> 
 {% endblock %}