{% extends "layout.html" %}
	  {% block body %} 
        <div class="container">
		<br/>		
			<div class="table-wrapper">
				<div class="text-right">
					<a href="{{url_for('objectrepo.add')}}" class="btn btn-info btn-rounded btn-lg">Add<i class="fas fa-plus-square ml-1"></i></a>
				</div>
				<table class="table table-striped" id="ObjectRepoDataGrid">
					<thead>
						<tr>
							<th>Type</th>
							<th>Name</th>
							<th>Locator</th>
							<th>Options</th>
						</tr>
					</thead>
					<tbody>					
					{% for item in itemsList: %}
							<tr>
								<td>{{item.TypeName}}</td>
								<td>{{item.Name}}</td>
								<td>{{item.Locator}}</td>
								<td><a href="{{url_for('objectrepo.edit', ID=item.ID)}}"><span class="glyphicon glyphicon-pencil"></span></a>&nbsp; | &nbsp;
									<a href="{{url_for('objectrepo.delete', ID=item.ID)}}" onclick="return confirm('Are you sure ?');"><span class="glyphicon glyphicon-trash"></span></a>
								</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		<script type="text/javascript">
		$(document).ready(function () {
			if($('#ObjectRepoDataGrid').length) {
				$('#ObjectRepoDataGrid').DataTable({
					pageLength: 25,
					columnDefs: [{
					orderable: false,
					targets: 2
					},{
					orderable: false,
					targets: 3
					}]
				});
			}
		});	
		</script>
 {% endblock %}