{% extends "layout.html" %}
	  {% block body %} 
        <div class="container jumbotron">
			<form method = "post" action =''>
			<div class="form-group form-inline">	
				<label for="Name" class="col-sm-1"> Name: </label>
				<input type ='text' Name= 'Name' id = 'Name' value = "{{keyword.name}}" required class="form-control col-sm-4"/>
			</div>
			<div class="form-group col-sm-5">
					<label class="col-sm-2"></label>
					<input type="submit" class="btn btn-primary" value="Create">
					&nbsp;&nbsp;
					<input type="reset" class="btn btn-primary" value="Reset">
				</div>
			</form>
		</div>
 {% endblock %}