{% extends "layout.html" %}
	  {% block body %} 
        <div class="container">
			<div class="table-wrapper">
				<div class="text-right">
						<a href="{{url_for('keywords.add')}}" class="btn btn-info btn-rounded btn-lg">Add<i class="fas fa-plus-square ml-1"></i></a>
				</div>
				<table class="table table-striped" id="MasterTablesDataGrid">
					<thead>
						<tr>
							<th>Name</th>
							<th>Options</th>
						</tr>
					</thead>
					<tbody>
						{% for keyword in keywords: %}
							<tr><td width="70%">{{keyword.name}}</td><td><a href="{{url_for('keywords.edit', keywordID=keyword.id)}}"><span class="glyphicon glyphicon-pencil"></span></a>&nbsp; | &nbsp;
							<a href="{{url_for('keywords.delete', keywordID=keyword.id)}}" onclick="return confirm('Are you sure ?');"><span class="glyphicon glyphicon-trash"></span></a>
							</td></tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
 {% endblock %}