
 {% extends "layout.html" %}
	  {% block body %} 
        <div class="container jumbotron">
			<form method = "post" action =''>
			<input type ='hidden' Name = 'ID' id = 'ID' value = "{{testdata.id}}"/>
				<div class="form-group task-details">
						<label>Data Name: <span></span></label>
						<input type ='text' Name= 'Name' id = 'Name' class="form-control" value = "{{testdata.name}}" required />
					</div>
					<div class="form-group task-details">
						<label>Data Value: <span></span></label>
						<input type ='text' Name= 'Value' id = 'Value' class="form-control" value = "{{testdata.Value}}" required />
					</div>
					<div class="form-group task-details">
						<label>Index: <span></span></label>
						<select name = 'ParamIndex' id = 'ParamIndex' required>
						{% for i in range(1, 20) %}
							{% if testdata.ParamIndex == i %}
								<option value ="{{ i }}" selected > {{ i }}</option>
							{% endif %}
							<option value ="{{ i }}" > {{ i }}</option>
						{% endfor %}
						</select>
						
					</div>
					<div class="form-group task-details">
						<label>Comments: <span></span></label>
						<textarea name= 'Comments' id='Comments'>{{testdata.Comments}}</textarea>
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-primary" value="Save">
						&nbsp;&nbsp;
						<input type="reset" class="btn btn-primary" value="Reset">
					</div>				
		</div>
 {% endblock %}