{% extends "layout.html" %}
	  {% block body %} 
        <div class="container jumbotron">
			<form method = "post" action =''>
				<div class="form-group form-inline">
					<label for="TestCaseID" class="col-sm-2"> Test Case ID: </label>
					<select name="TestCaseID" id="TestCaseID" class="form-control col-sm-4 selectpicker" data-live-search="true" required>
						<option value = "">Select</option>
						{% for testcase in testcasemaster: %}
						 <option value="{{testcase.ID}}" {{'selected' if (testcase.ID == info.TestCaseID or testcase.ID == testcaseID) else '' }}>{{testcase.ID}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="form-group form-inline">
					<label for="Window" class="col-sm-2"> Window: </label>
					<select name="Window" id="Window" class="form-control col-sm-4 selectpicker" data-live-search="true" required>
						<option value = "">Select</option>
						{% for rec in window: %}
						 <option value="{{rec.id}}" {{'selected' if rec.id == info.Window else '' }}>{{rec.name}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="form-group form-inline">
					<label for="DF_type" class="col-sm-2"> Data Field Type: </label>
					<select name="DF_type" id="DF_type" class="form-control col-sm-4 selectpicker" data-live-search="true" onchange="toggleDatafileds(this.value);"/>
						<option value = "">Select</option>
						<option value="or">Object Repo</option>
						<option value="ot">Own Text</option>
					</select>
				</div>
					
				<div style="display:none;" id = 'data_ObjectRepo_div' class="form-group form-inline">
					<label for="object_repo_id" class="col-sm-2"> Object Repo: </label>
					<select name="object_repo_id" id="object_repo_id" class="form-control col-sm-4 selectpicker" data-live-search="true">
						<option value = "">Select</option>
						{% for or in objectrepo: %}
							<option value="{{or.ID}}" {{'selected' if or.ID == info.object_repo_id else '' }}>{{or.TypeName}}:{{or.Name}}</option>
						{% endfor %}
					</select>
				</div>
					
					
				<div style="display:none;" id = 'data_custom_div' class="form-group form-inline">
					<label for="DataFields" class="col-sm-2"> Field: </label>
					<input type ='text' Name= 'DataFields' id = 'DataFields' class="form-control col-sm-4" value = "{{info.DataFields}}">
				</div>
				
				<div class="form-group form-inline">
					<label for="DV_type" class="col-sm-2"> Data Value Type: </label>
					<select name="DV_type" id="DV_type" class="form-control col-sm-4 selectpicker" data-live-search="true" onchange="toggleDataValues(this.value);"/>
						<option value = "">Select</option>
						<option value="td">Test Data</option>
						<option value="other">Other</option>
					</select>
				</div>
					
					
				<div style="display:none;" id = 'data_TestDate_div' class="form-group form-inline">
					<label for="test_data_id" class="col-sm-2"> Test Data: </label>
					<select name="test_data_id" id="test_data_id" class="form-control col-sm-4 selectpicker" data-live-search="true">
						<option value = "">Select</option>
						{% for record in testdata: %}
							<option value="{{record.id}}" {{'selected' if record.id == info.test_data_id else '' }}>dt:{{record.name}}#{{record.ParamIndex}}</option>
						{% endfor %}
					</select>
				</div>
				
				
				<div style="display:none;" id = 'data_value_other_div' class="form-group form-inline">
					<label for="DataValues" class="col-sm-2"> Value: </label>
					<input type ='text' Name= 'DataValues' id = 'DataValues' class="form-control col-sm-4" value = "{{info.DataValues}}">
				</div>
				<div class="form-group form-inline">
					<label for="KeywordID" class="col-sm-2"> Action: </label>
					<select name="KeywordID" id="KeywordID" class="form-control col-sm-4 selectpicker" data-live-search="true" required>
						<option value = "">Select</option>
						{% for kw in keywords: %}
						 <option value="{{kw.id}}" {{'selected' if kw.id == info.KeywordID else '' }}>{{kw.name}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="form-group form-inline">
					<label for="StepCondition" class="col-sm-2"> Condition: </label>
						<input name="StepCondition" id="StepCondition" class="form-control col-sm-4" value ="{{info.StepCondition}}">
				</div>
				<div class="form-group form-inline">
					<label for="BrowserID" class="col-sm-2"> Browse: </label>
					<select name="BrowserID" id="BrowserID" class="form-control col-sm-4 selectpicker" data-live-search="true" required>
						<option value = "">Select</option>
						{% for br in browse: %}
						 <option value="{{br.id}}" {{'selected' if br.id == info.BrowserID else '' }}>{{br.name}}</option>
						{% endfor %}
					</select>
				</div>
				<div class="form-group form-inline">
					<label for="FieldName" class="col-sm-2"> Field Name: </label>
						<input name="FieldName" id="FieldName" class="form-control col-sm-4" value ="{{info.FieldName}}">
				</div>
				<div class="form-group form-inline">
					<label for="Comments" class="col-sm-2"> Comments: </label>
					<textarea name= 'Comments' id='Comments' class="form-control col-sm-4">{{info.Comments}}</textarea>
				</div>
				<div class="form-group col-sm-6">
					<label for="" class="col-sm-4"></label>
					<input type="submit" class="btn btn-primary" value="Create">
					&nbsp;&nbsp;
					<input type="reset" class="btn btn-primary" value="Reset">
				</div>
			</form>
		</div>
		<script>
		function toggleDatafileds(value) {
			$("#data_ObjectRepo_div").hide();
			$("#data_custom_div").hide();
			$('#object_repo_id').prop('required', false);
			$('#DataFields').prop('required', false);
			if (value == 'or') {
				$("#data_ObjectRepo_div").show();
				$("#DataFields").val('');
				$('#object_repo_id').prop('required', true);
				$('#DataFields').prop('required', false);
			} else if(value == 'ot') {
				$("#data_custom_div").show();
				$('#object_repo_id').val('');
				$('#DataFields').prop('required', true);
				$('#object_repo_id').prop('required', false);				
			}
		}
		function toggleDataValues(value) {
			$("#data_TestDate_div").hide();
			$("#data_value_other_div").hide();
			$('#DataValues').prop('required', false);
			$('#test_data_id').prop('required', false);
			if (value == 'td') {
				$("#data_TestDate_div").show();
				$("#DataValues").val('');
				$('#test_data_id').prop('required', true);
				$('#DataValues').prop('required', false);
			} else if(value == 'other') {
				$("#data_value_other_div").show();
				$('#test_data_id').val('');
				$('#DataValues').prop('required', true);
				$('#test_data_id').prop('required', false);				
			}
		}
		</script>
 {% endblock %}