{% extends "layout.html" %}
	  {% block body %} 
        <div class="container" style="width: 100% !important;">
		<br/>
		
			<div class="table-wrapper">
				<div class="text-right">
						<a href="{{url_for('datasheet.add',ID = testcaseID)}}" class="btn btn-info btn-rounded btn-lg">Add<i class="fas fa-plus-square ml-1"></i></a>
				</div>
				<div class="form-group task-details">
					<input type="hidden" id="totalCount" value="{{ totalCount }}">
					<span id="sort-rows-input">
						&nbsp;&nbsp;&nbsp;
						<label>Test Case ID:&nbsp;</label>
						<select name="TestCaseID" id="TestCaseID" onchange = "loadSteps(this.value);">
							<option value = "">Select</option>
							{% for testcase in testcasemaster: %}
							<option value="{{testcase.ID}}" {{'selected' if testcase.ID == testcaseID else '' }}>{{testcase.ID}}</option>
							{% endfor %}
						</select>
						{% if testcaseID != 'None': %}
						<input type="button" id="sortRows" style="background-color:#09AB8C; color:white; border-radius:4px; border:none; font-size:14px" value="Enable Sorting">
						{% endif %}
					</span>
					<div id="orderStatus" style="display:none; background-color:#09AB8C; color:white; border-radius:4px; border:none; font-size:14px;padding:5px;margin:5px;">Row Order Changed Successfully</div>
						<table class="table table-striped" id="TestDataDataGrid">
							<thead>
							<tr>
								<th>Test Step</th>
								<th>Test Case ID</th>
								<th>Window</th>
								<th width="50px">Data Fileds</th>
								<th>Data Values</th>
								<th width="50px">Action</th>
								<th>Condition</th>
								<th>Browser</th>
								<th>Field Name</th>
								<th>Comments</th>
								<th width = '85px'>Options</th>
							</tr>
							</thead>
							<tbody>
							{% for data in datasheet: %}
									<tr data-teststep="{{ data.TestStep }}" data-rowid="{{ data.ID }}">
									<td>{{data.TestStep}}</td>
									<td>{{data.TestCaseID}}</td>
									<td>{{data.WindowName}}</td>
									<td>{% if data.object_repo_id != 0 : %}{{data.ObjectType}}:{{data.ObjectRepo}}{% else: %}{{data.DataFields}}{% endif %}</td>
									<td>{% if data.test_data_id != 0 : %}dt:{{data.TestData}}#{{data.pindex}}{% else: %}{{data.DataValues}}{% endif %}</td>
									<td>{{data.Keyword}}</td>
									<td>{{data.StepCondition}}</td>
									<td>{{data.Browser}}</td>
									<td>{{data.FieldName}}</td>
									<td>{{data.Comments}}</td>
									<td><a href="{{url_for('datasheet.edit', ID=data.ID, testcaseID = testcaseID)}}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>&nbsp; | &nbsp;
										<a href="{{url_for('datasheet.delete', ID=data.ID, testcaseID = testcaseID)}}" onclick="return confirm('Are you sure ?');"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>  | &nbsp;
										<a href="{{url_for('datasheet.add',ID = testcaseID, TestStep=data.TestStep)}}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
									</td>
								</tr>
							{% endfor %}
							</tbody>
						</table>
				</div>
			</div>
		</div>
		<script type="text/javascript">
		$(document).ready(function() {
			if($('#TestDataDataGrid')) {
				var datatable = $('#TestDataDataGrid').DataTable( {
						//dom: 'Bfrtip',
						columns: [{ orderable: true, searchable: false}
									,{ orderable: true, searchable: false }
									,{ orderable: false, searchable: true }
									, { orderable: false, searchable: true }
									, { orderable: false, searchable: true }
									, { orderable: false, searchable: true }
									, { orderable: false, searchable: true }
									, { orderable: false, searchable: true }
									,  { orderable: false, searchable: false }
									,  { orderable: false, searchable: false }
									,  { orderable: false, searchable: false }
									],
						pageLength : 25,
						rowReorder: {
							enable: false,
						},
						//"scrollX" : true,
						//searching: false,
						//searchCols : [{search: ""}, null],
						//ordering: false,
						//order:[1],
						buttons: [
								 ]
				});
				if ($("#TestDataDataGrid_length")) {
					$("#TestDataDataGrid_length").append($("#sort-rows-input"));
				}				
				 datatable.on('row-reorder', function (e, diff, edit) {
					var sortedRows = [];
					diff.forEach(function(item) {
						var row = new Object();
							row.actualTestStep = item.node.dataset.teststep;
							row.rowID = item.node.dataset.rowid;
							row.newSortedRowID = item.newData;
							sortedRows.push(row);
					});
					if(sortedRows.length) {
						$.ajax({
							type: 'POST',
							url:'/datasheet/changeRowOrder',
							data: JSON.stringify(sortedRows),
							dataType: 'json',
							contentType: 'application/json;charset=UTF-8',
							success: function(obj){
								if(obj.success) {
										$("#orderStatus").show();
										setTimeout(function() {
											$("#orderStatus").hide();
										}, 2000);
								}
							}
						})
					}
				});
				$("#sortRows").click(function(){
					el = $(this);
					//var datatable = $('#TestDataDataGrid').DataTable();
					if (el.val() == "Disable Sorting") {
						el.val('Enable Sorting');
						datatable.rowReorder.enable(false);
						//datatable.page.len($("#totalCount").val()).draw();
					}
					else {
						el.val('Disable Sorting');
						datatable.rowReorder.enable(true);
						//datatable.page.len($("#totalCount").val()).draw();
					}
				});
			}
		});
		function loadSteps(testcaseID) {
			if(testcaseID == ''){ testcaseID = 'None';}
			location.href = "/datasheet/"+testcaseID;
		}		
		</script>
 {% endblock %}
 