{% extends "layout.html" %}
	  {% block body %} 
        <div class="container">
			<div class="table-wrapper">
				<div class="text-right">
						<a href="{{url_for('status.add')}}" class="btn btn-info btn-rounded btn-lg">Add<i class="fas fa-plus-square ml-1"></i></a>
				</div>
				<table class="table table-striped" id="MasterTablesDataGrid">
					<thead>
					<tr>
						<th>Name</th>
						<th>Options</th>
					</tr>
					</thead>
					<tbody>
					{% for status in statusses: %}
							<tr><td width="70%">{{status.name}}</td><td><a href="{{url_for('status.edit', statusID=status.id)}}"><span class="glyphicon glyphicon-pencil"></span></a>&nbsp; | &nbsp;
							<a href="{{url_for('status.delete', statusID=status.id)}}" onclick="return confirm('Are you sure ?');"><span class="glyphicon glyphicon-trash"></span></a>
							</td></tr>
					{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
 {% endblock %}