-{% extends "layout.html" %}

-{% block body %}

-  <h1>Page Not Found</h1>

-  <p>What you were looking for is just not there.

-  <p><a href="{{ url_for('users.showhome') }}">go somewhere nice</a>

-{% endblock %}