<!--Main Navigation-->

<header>
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark black scrolling-navbar {% if 'username' not in session: %} invisible {% endif %}">
				<a href="{{url_for('users.showhome')}}" class="navbar-brand"> 
					<img width="85" height="65" border="0" alt="ValueLabs" src="{{url_for('static', filename='images/logo.png')}}" style="padding-bottom:2px;"/>
				</a>
			<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				{% if 'username' in session: %}
				<!--<li class="nav-item {% if session['moduleName'] == 'users': %}active {% endif %}">
					<a class="nav-link" href="{{url_for('users.showhome')}}">Home</a>
				</li>-->
				<li class="nav-item {% if session['moduleName'] == 'modules': %}active {% endif %}">
					<a class="nav-link" href="{{url_for('modules.showlist')}}">Modules</a>
				</li>
				<li class="nav-item {% if session['moduleName'] == 'browse': %}active {% endif %}">
					<a class="nav-link" href="{{url_for('browse.showlist')}}">Browse</a>
				</li>
				<li class="nav-item {% if session['moduleName'] == 'priorities': %}active {% endif %}">
					<a class="nav-link" href="{{url_for('priorities.showlist')}}">Priority</a>
				</li>
				<li class="nav-item {% if session['moduleName'] == 'status': %}active {% endif %}">
					<a class="nav-link" href="{{url_for('status.showlist')}}">Status</a>
				</li>
				<li class="nav-item {% if session['moduleName'] == 'window': %}active {% endif %}">
					<a class="nav-link" href="{{url_for('window.showlist')}}">Window Names</a>
				</li>
				<li class="nav-item {% if session['moduleName'] == 'keywords': %}active {% endif %}">
					<a class="nav-link" href="{{url_for('keywords.showlist')}}">Keyword</a>
				</li>
				<li class="nav-item {% if session['moduleName'] == 'objecttypes': %}active {% endif %}">
					<a class="nav-link" href="{{url_for('objecttypes.showlist')}}">Object Types</a>
				</li>
				<li class="nav-item {% if session['moduleName'] == 'objectrepo': %}active {% endif %}">
					<a class="nav-link" href="{{url_for('objectrepo.showlist')}}">Object Repo</a>
				</li>
				<li class="nav-item {% if session['moduleName'] == 'testcasemaster': %}active {% endif %}">
					<a class="nav-link" href="{{url_for('testcasemaster.showlist')}}">Test Case Master</a>
				</li>
				<li class="nav-item {% if session['moduleName'] == 'testdata': %}active {% endif %}">
					<a class="nav-link" href="{{url_for('testdata.showlist')}}">Manage Test Data</a>
				</li>
				
				
				<li class="nav-item {% if session['moduleName'] == 'datasheet': %}active {% endif %}">
					<a class="nav-link" href="{{url_for('datasheet.showlist')}}">Manage Data Sheet</a>
				</li>
				
				<li class="nav-item {% if session['moduleName'] == 'settings': %}active {% endif %}">
					<a class="nav-link" href="{{url_for('settings.showhome')}}">App Settings</a>
				</li>
				
				<li class="nav-item">
					<a class="nav-link" href="{{url_for('users.logout')}}">Logout</a>
				</li>
				{% endif %}
			</ul>
		</div>
	</nav>
</header>
<!--Main Navigation-->