<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Test Data Management Tool</title>	
	<!-- JQuery -->
	<script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.4.1.min.js')}}"></script> 
	<!-- Bootstrap tooltips -->
    <script src="{{url_for('static', filename='bootstrap/js/bootstrap.min.js')}}" crossorigin="anonymous"></script>	
    
	<!-- Latest compiled and minified JavaScript -->
	
	<!-- https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.js -->
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
	<!-- MDB core JavaScript -->
	<script src="{{url_for('static', filename='js/selectize.js')}}"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.6.1/js/dataTables.buttons.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/rowreorder/1.2.6/js/dataTables.rowReorder.min.js"></script>

	<link rel="stylesheet"  href="{{url_for('static', filename='css/bootstrap.css')}}" crossorigin="anonymous"/>
	<link rel="stylesheet"  href="{{url_for('static', filename='css/mdb.css')}}" crossorigin="anonymous"/>
	<link rel="stylesheet"  href="{{url_for('static', filename='bootstrap/css/bootstrap.css')}}" crossorigin="anonymous"/>
	<link href="{{url_for('static', filename='css/signup.css')}}" rel="stylesheet"/>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto"/>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
	
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.datatables.net/rowreorder/1.2.6/css/rowReorder.dataTables.min.css" crossorigin="anonymous">
	<link href="{{url_for('static', filename='css/selectize.legacy.css')}}" rel="stylesheet"/>
	<link rel="stylesheet" href="{{url_for('static', filename='css/selectize.default.css')}}" data-theme="default">
	<link rel="stylesheet" href="{{url_for('static', filename='css/selectize.bootstrap3.css')}}" data-theme="default">
	
  </head> 
  <body>
	   <div class="container-fluid" style="max-width: 100%; text-align: left; margin: auto;">
		{% include "header.html" %}
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					{% for message in messages %}
						<div class ='alert' style="color:red;">
							<blink>{{message}}
						</div>
					{% endfor %}
				{% endif %}
			{% endwith %}
			{% block body %}		  
			{% endblock %} 
		{% include "footer.html" %}
  	</div>
  </body>
  <script type="text/javascript">
  $(document).ready(function () {
		if($('#MasterTablesDataGrid')) {
			$('#MasterTablesDataGrid').DataTable({
				pageLength: 25,
				columnDefs: [{
				orderable: false,
				targets: 1
				}]
			});
		}
		$(".selectpicker").selectize({
			create: false,
			sortField: 'text'
		});
		$("div.selectize-dropdown").removeClass('col-sm-4 col-sm-6');
	});
</script>
  </html>