{% extends "layout.html" %}
	  {% block body %} 
        <div class="container">
		<br/>
			<div class="table-wrapper">
				<div class="text-right">
						<a href="{{url_for('browse.add')}}" class="btn btn-info btn-rounded btn-lg">Add<i class="fas fa-plus-square ml-1"></i></a>
				</div>
				<table class="table table-striped" id="MasterTablesDataGrid">
					<thead>
						<tr>
							<th>Name</th>
							<th>Options</th>
						</tr>
					</thead>
					<tbody>
						{% for b in browse: %}
								<tr><td width="70%">{{b.name}}</td><td><a href="{{url_for('browse.edit', browseID=b.id)}}"><span class="glyphicon glyphicon-pencil"></span></a>&nbsp; | &nbsp;
								<a href="{{url_for('browse.delete', browseID=b.id)}}" onclick="return confirm('Are you sure ?');"><span class="glyphicon glyphicon-trash"></span></a>
								</td></tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
 {% endblock %}